@import "../../styles/colors.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  .form {
    align-self: center;
    display: flex;
    flex-direction: column;

    border-radius: 0.8rem;
    padding: 4rem;
    width: 40rem;

    background-color: $white;
    box-shadow: 0 0.1rem 0.3rem -0.1rem rgba($black, 0.1);

    h2 {
      margin: 0 0 2.4rem;

      color: $primaryDark;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
    }

    .submit {
      margin: 0 0 1.6rem;

      &:disabled {
        background-color: $disabled;
        color: $disabledDark;
      }

      &:disabled:hover {
        opacity: 1;
      }
    }

    .link {
      color: $primary;
      font-size: 1.4rem;
      text-align: center;

      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }   
  }
}
