@import "../../styles/colors.scss";

.spinner {
  position: relative;

  display: inline-block;

  height: 1.2rem;
  width: 8rem;

  div {
    position: absolute;
    top: 0;

    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    
    background: $primaryLight;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: .8rem;
      animation: spinner1 0.6s infinite;
    }
    
    &:nth-child(2) {
      left: .8rem;
      animation: spinner2 0.6s infinite;
    }
    
    &:nth-child(3) {
      left: 3.2rem;
      animation: spinner2 0.6s infinite;
    }
    
    &:nth-child(4) {
      left: 5.6rem;
      animation: spinner3 0.6s infinite;
    }
  }
}

@keyframes spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
